html{
    font-family: "Jura", sans-serif;

}

.nav {
    width: 85%;
    height: auto;
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    margin: 5px 30px;
}
.label {

    width: 164px;
    height: 46px;
    background: #FFFFFF;
    border-radius: 33px;
    margin: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
 
button{
    outline: none;
    border: none;

}


